.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fc;
    font-family: Arial, sans-serif;
    
}

h1 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 60%;
    text-align: center;
}

.result-box p {
    font-size: 1.2rem;
    color: #666;
}

h2 {
    font-size: 1.8rem;
    color: #4d8eb4; /* Purple color */
    font-weight: bold;
}

button {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    background-color: #82b0c5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #436675;
}

/* Add animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container, .result-box, button {
    animation: fadeIn 1s ease-in-out;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f9fc;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.result-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    width: 60%;
    text-align: center;
}

.result-box p {
    font-size: 1.2rem;
    color: #666;
}

h2 {
    font-size: 1.8rem;
    color: #0d8dad; /* Purple color */
    font-weight: bold;
}

button {
    padding: 12px 25px;
    font-size: 1rem;
    border: none;
    background-color: #1cc1df;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #006882;
}

/* Add animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container, .result-box, button {
    animation: fadeIn 1s ease-in-out;
}
